<h2>Skapa en ny todo!</h2>

<form action="/todos" method="post">
    <label>Titel <input type="text" name="todo_name" placeholder="Köpa mjölk..."> </label>
    <label>Beskrivning <input type="text" name="todo_description"> </label>
    <label>Kategori <input type="radio" name="todo_category" value="Inköp"> </label>
    <label>Prio <input type="number" name="todo_priority" min="1" max="5"> </label>

    <input type="submit" value="Spara">
</form>
